#root {
  max-width: 3840px;
  min-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex-container dash{
  display:flex
}

.ping-start-stop-menu{
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  border: 2px solid #1eb1d2;
  border-radius: 5px;
}

.ping-button {
  border-color:black;
  padding: 0.6em 1.2em;
}

.ping-button.ping-start{
  background-color: rgb(29, 201, 29);
  background-color: linear-gradient(0,(29, 150, 29), rgb(29, 201, 29))
}

.ping-button.ping-stop{
  background-color: rgb(249, 42, 42); 
}

.input{
  border-color:black;
}

.probe-management{ grid-area: 2 / 1 / 11 / 11; }
.add-probe { grid-area: 1 / 1 / 2 / 3; }

.probeConfigForm{
  display: grid;
}

.probeOptions{
  /*padding: bottom 20px; */
  margin-bottom: 18px;
  border-radius: 0.5ex;
  line-height: 140%;
  color:black;  
}

.probeOptions-title{
  font-size:16px;
  margin-bottom:2px;
}

.btn{
  border-radius: 0.5ex;
}

.btn.send-probe{
  background-color: rgb(29, 201, 29);
  background-color: linear-gradient(0,(29, 150, 29), rgb(29, 201, 29))
}

.btn.add-probe{
  forced-color-adjust: rgba(18, 249, 252, 0.876);
  background-color: rgba(18, 249, 252, 0.876);
  background-color: linear-gradient(0,(29, 150, 29), rgb(8, 251, 255))
}

.app-page {
  display: grid;
  margin-inline: 10px;
  margin-left: 10rem;
  margin-right: 10rem;
  align-content: center;
  width: fit-content;
}
