.flex-container .anomalies-table{
    justify-content: center;
    flex-grow: 1;
    display: 'flex';
}

.styled-table{
    border-collapse: collapse;
    margin-top: 25px 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -39px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 60%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    flex-grow: 1;
}
  
.styled-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
  
.styled-table th, .styled-table td {
    padding:12px 15px;
}
  
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
  
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
  
.styled-table tbody tr:last-of-type {
    border-bottom: 45px solid #009879;
}
  
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.nav .anomalies-table{
    max-height: 50px;
    flex-grow: 1;
    fill: #ffffff;
    width: 20px;
    margin: 1px;
    display:inline-flex;
}



