#root {
  max-width: 3840px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex-container dash{
  display:flex
}

.ping-start-stop-menu{
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  border: 2px solid #1eb1d2;
  border-radius: 5px;
}

.ping-button {
  border-color:black;
}

.ping-button.ping-start{
  background-color: rgb(29, 201, 29);
  background-color: linear-gradient(0,(29, 150, 29), rgb(29, 201, 29))
}

.ping-button.ping-stop{
  background-color: rgb(249, 42, 42);
}

.input{
  border-color:black;
}

.table{
  border-color:black;
  height: auto;
  width: auto;
}

.styled-table{
  border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr{
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th, .styled-table td {
  padding:12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}